[Desktop Entry]
Comment=98 all over again
Name=React Plus
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=reactplus
X-KDE-PluginInfo-Version=6.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
